:root {
  --white: #ffffff;
  --black: #000000;
  --divider-gray: #d9d9d9;
  --text-gray: #3b3b3b;
  --blue: #2e33d1;

  --nav-height: 8rem;
  --footer-height: 30rem;

  --font-main: var(--font-ppformula), sans-serif;
}

html,
body {
  max-width: 100vw;
  background: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
