:root {
  --background: #ffffff;
  --foreground: #000000;

  --nav-height: 80px;

  --font-main: var(--font-figtree), sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
