.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--nav-height));
  padding: 0 10%;
  padding-bottom: 2%;
}

.title {
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 4.8rem;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--black);
}
