.section {
  margin-bottom: 8.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem 2.4rem;
  padding: 0 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--gray);
  margin-bottom: 1.6rem;
  overflow: hidden;
}
