.section {
  padding: 3.2rem 0rem 7.2rem 0rem;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: 500;
  color: var(--black);
  letter-spacing: -0.03em;
  margin-left: 3.2rem;
  margin-bottom: 3.2rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.details {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--text-gray);
}
