.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 3.2rem 7.2rem;
  max-width: 1350px;
  margin: 0 auto;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: var(--divider-gray);
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 1.8rem;
  }
}

.leftSection {
  display: flex;
  flex-direction: row;
  max-width: calc(50vw - 5rem);
}

.logo {
  display: block;
}

.rightSection {
  display: flex;
  gap: 5.6rem;
  margin-right: 2.4rem;
}

@media screen and (max-width: 1024px) {
  .rightSection {
    gap: 1rem;
    flex-direction: column;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.infoTitle {
  font-size: 1.8rem;
  font-weight: 600;
}

.infoText {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 120%;
  color: var(--text-gray);
}

@media screen and (max-width: 1024px) {
  .infoTitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 130%;
  }

  .infoText {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 130%;
  }
}
