.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white, #fff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 0 4.8rem;
  border-bottom: 1px solid var(--divider-gray);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 1.8rem;
  }
}

.logo {
  margin-top: 0.6rem;
}

.nav {
  display: flex;
  gap: 4.8rem;
}

@media screen and (max-width: 768px) {
  .nav {
    gap: 1.2rem;
  }
}

.nav a {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  .nav a {
    font-size: 1.2rem;
  }
}

.icon {
  width: auto;
  height: 1.8rem;
  color: var(--black);
  transition: color 0.3s ease;
}
.icon :hover {
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  .icon {
    height: 1.4rem;
  }
}
