.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 0 2rem;
  border-bottom: 1px solid var(--gray);
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: 1.6rem;
  color: var(--black);
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
