.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
}

.titleContainer {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  padding-left: 3.2rem;
}

.title {
  font-size: 4.8rem;
}

.divider {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 1px;
  background-color: var(--divider-gray);
}
