.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleArea {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  padding-left: 3.2rem;
}

.title {
  font-size: 4.8rem;
}

.divider {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 1px;
  background-color: var(--divider-gray);
  margin-bottom: 4.8rem;
}
