.pageContainer {
  padding: 0 3.2rem;
  max-width: 1350px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 0 1.8rem;
  }
}

.section {
  margin-bottom: 6.4rem;
}

@media screen and (max-width: 768px) {
  .section {
    margin-bottom: 1.8rem;
  }
}

.sectionTitle {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4.8rem 2.4rem;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  padding: 1.6rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  transition:
    transform 0.4s ease,
    box-shadow 0.2s ease;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .card {
    padding-bottom: 3.6rem;
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 1.2rem;
  background-color: var(--divider-gray);
  border-radius: 9999px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  letter-spacing: -0.02rem;
}

.position {
  font-size: 1.3rem;
  color: var(--text-gray);
  letter-spacing: 0;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}

.links {
  display: flex;
  gap: 0.2rem;
}

.linkBox {
  width: 2.2rem;
  height: 2.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  width: 100%;
  height: 100%;
}

.alumniSection {
  margin-bottom: 6.4rem;
  padding-top: 4.8rem;
  border-top: 1px solid var(--divider-gray);
}

@media screen and (max-width: 768px) {
  .alumniSection {
    margin-bottom: 2.6rem;
    padding-top: 3.2rem;
  }
}

.alumniHeader {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 768px) {
  .alumniHeader {
    gap: 1.6rem;
    flex-direction: column;
  }
}

.alumniTitle {
  font-size: 4rem;
  font-weight: 500;
  flex-shrink: 0;
  min-width: 18rem;
}

.alumniSubtitle {
  font-size: 1.4rem;
  color: var(--text-gray);
}

@media screen and (max-width: 768px) {
  .alumniTitle {
    font-size: 2rem;
    min-width: 0;
  }

  .alumniSubtitle {
    font-size: 1.2rem;
    color: var(--text-gray);
  }
}

.alumniList {
  display: flex;
  flex-direction: column;
}

.alumniRow {
  display: grid;
  grid-template-columns: 18rem auto auto;
  gap: 3.6rem;
  padding: 0.3rem 0;
}

@media screen and (max-width: 768px) {
  .alumniRow {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    padding: 0;
  }
}

.alumniName {
  font-size: 1.5rem;
  font-weight: 500;
}

.alumniNameLink {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: underline;
}

.alumniDegree {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .alumniName,
  .alumniNameLink,
  .alumniDegree {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
}
