.pageContainer {
  padding: 0 3.2rem;
  max-width: 1350px;
  margin: 0 auto;
}

.section {
  margin-bottom: 6.4rem;
}

.sectionTitle {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3.2rem 1.2rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 1.2rem;
  background-color: var(--divider-gray);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.nameSmall {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.position {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-style: italic;
  color: var(--text-gray);
  margin-bottom: 0.8rem;
}

.links {
  display: flex;
  gap: 0.2rem;
}

.linkBox {
  width: 2.2rem;
  height: 2.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  width: 100%;
  height: 100%;
}

.alumniSection {
  margin-bottom: 6.4rem;
  padding-top: 4.8rem;
  border-top: 1px solid var(--divider-gray);
}

.alumniHeader {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 0rem;
}

.alumniTitle {
  font-size: 4rem;
  font-weight: 500;
  flex-shrink: 0;
  min-width: 18rem;
}

.alumniSubtitle {
  font-size: 1.2rem;
  color: var(--text-gray);
}

.alumniList {
  display: flex;
  flex-direction: column;
}

.alumniRow {
  display: grid;
  grid-template-columns: 18rem auto auto;
  gap: 4.8rem;
  padding: 0.3rem 0;
}

.alumniName {
  font-size: 1.4rem;
  font-weight: 500;
}

.alumniNameLink {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: underline;
}

.alumniDegree {
  font-size: 1.4rem;
}
