.pageContainer {
  padding: 0 3.2rem;
  max-width: 1350px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    padding: 0 1.8rem;
  }
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 6.4rem;
  width: 100%;
  position: relative;
}

.anchorPanel {
  width: 18rem;
  position: -webkit-sticky;
  position: sticky;
  top: var(--nav-height);
  padding-top: 1.4rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    gap: 0;
  }
  .anchorPanel {
    display: none;
  }
  .mainContent {
    width: 100%;
  }
}

.anchorWrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.anchorTitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.anchorList {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.anchorLink {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2;
  color: var(--text-gray);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.anchorLink:hover {
  color: var(--blue);
}

.section {
  margin-bottom: 6.4rem;
}

@media screen and (max-width: 1024px) {
  .section {
    margin-bottom: 1.8rem;
  }
}

.sectionTitle {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 500;
  scroll-margin-top: calc(var(--nav-height) + 2rem);
}

@media screen and (max-width: 1024px) {
  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem 0.8rem;
}

@media screen and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  padding: 2.8rem 2.8rem;
  transition:
    transform 0.4s ease,
    box-shadow 0.2s ease;
}
.card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.card:hover .name,
.card:hover .position {
  color: var(--blue);
}

.cardClickable {
  cursor: pointer;
}

.cardLink {
  display: contents;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .card {
    padding-bottom: 3.6rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  margin-bottom: 1.2rem;
  background-color: var(--divider-gray);
  border-radius: 9999px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  letter-spacing: -0.02rem;
  transition: color 0.2s ease;
}

.position {
  font-size: 1.4rem;
  color: var(--text-gray);
  letter-spacing: 0;
  margin-bottom: 1.2rem;
  transition: color 0.2s ease;
}

.links {
  display: flex;
  gap: 0.2rem;
}

.linkBox {
  width: 2.2rem;
  height: 2.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  width: 100%;
  height: 100%;
  transition: filter 0.2s ease;
}

.linkBox:hover .linkIcon {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}

.alumniSection {
  margin-bottom: 6.4rem;
  padding-top: 4.8rem;
  border-top: 1px solid var(--divider-gray);
}

@media screen and (max-width: 1024px) {
  .alumniSection {
    margin-bottom: 2.6rem;
    padding-top: 3.2rem;
  }
}

.alumniHeader {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1024px) {
  .alumniHeader {
    gap: 1.6rem;
    flex-direction: column;
  }
}

.alumniTitle {
  font-size: 3rem;
  font-weight: 500;
  flex-shrink: 0;
  min-width: 18rem;
}

.alumniSubtitle {
  font-size: 1.4rem;
  color: var(--text-gray);
}

@media screen and (max-width: 1024px) {
  .alumniTitle {
    font-size: 2rem;
    min-width: 0;
  }

  .alumniSubtitle {
    font-size: 1.2rem;
    color: var(--text-gray);
  }
}

.alumniList {
  display: flex;
  flex-direction: column;
}

.alumniRow {
  display: grid;
  grid-template-columns: 18rem auto auto;
  gap: 3.6rem;
  padding: 0.3rem 0;
}

@media screen and (max-width: 1024px) {
  .alumniRow {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    padding: 0;
  }
}

.alumniText {
  font-size: 1.6rem;
  font-weight: 500;
}

.alumniTextLink {
  color: var(--black);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.3s ease;
}
.alumniTextLink:hover {
  background-size: 100% 1px;
}

@media screen and (max-width: 1024px) {
  .alumniText,
  .alumniTextLink {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
}
