.main {
  padding: 0 1rem;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.filters {
  width: 29.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  padding-left: 5rem;
  padding-top: 1.4rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.publications {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article {
  height: 24.5rem;
  padding: 2.4rem 0 3rem 0;
  border-bottom: 1px solid var(--divider-gray);
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.articleTitle {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--black);
  line-height: 1.1;
}

.image {
  height: 100%;
  aspect-ratio: 1.5;
  object-fit: contain;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authorsText {
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 1;
  color: var(--blue);
}

.journalsText {
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  line-height: 1;
  color: var(--text-gray);
  margin-top: 0.8rem;
  vertical-align: bottom;
}

.linksWrapper {
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

.iconLinkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: 1.2rem;
  background-color: var(--divider-gray);
  gap: 0.2rem;
  text-decoration: none;
}

.linkLabel {
  font-size: 1.4rem;
  letter-spacing: -0.03em;
  line-height: 1;
  color: var(--black);
  font-family: Figtree;
  text-align: center;
  vertical-align: middle;
}

.filtersTitleWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.filtersTitle {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: center;
}

.resultsText {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.03em;
  vertical-align: middle;
  margin-top: 1.5rem;
  color: var(--blue);
}

.filtersWrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.summary {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.03em;
  vertical-align: bottom;
  margin-bottom: 1.3rem;
}

.checkboxLabel {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.03em;
  vertical-align: bottom;
  color: var(--text-gray);
}
